body {
    font-family: 'Arial', sans-serif;
    background-color: #0006ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

button {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
}

button:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

input {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #4c51bf;
    box-shadow: 0 0 0 2px rgba(77, 122, 255, 0.5);
}

hr {
    margin: 20px 0;
    border-color: #ddd;
}
